/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5; }

body {
  width: 100%; }

a {
  text-decoration: none;
  color: #000; }

header {
  background-color: #373c3f; }

div.menu-wrap {
  margin: 0 auto;
  padding: 0; }
  @media screen and (max-width: 640px) {
    div.menu-wrap {
      height: 36px; } }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    div.menu-wrap {
      height: 70px; } }
  @media screen and (min-width: 961px) {
    div.menu-wrap {
      height: 95px; } }

div.toggle {
  font-weight: bold;
  width: 100%;
  position: relative; }
  @media screen and (max-width: 640px) {
    div.toggle {
      font-size: 14px; } }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    div.toggle {
      font-size: 20px; } }
  @media screen and (min-width: 961px) {
    div.toggle {
      display: none; } }

div.navigation {
  float: left;
  width: 100%; }
  @media screen and (max-width: 640px) {
    div.navigation {
      padding: 10px 0 0 18px; } }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    div.navigation {
      padding: 18px 0 0 30px; } }
  div.navigation span.navi {
    color: #fff; }

a.trigmenu {
  float: right;
  padding-right: 100px;
  position: relative;
  width: 50px;
  height: 100%; }
  a.trigmenu, a.trigmenu span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box; }
  a.trigmenu span {
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    height: 4px; }
    @media screen and (max-width: 640px) {
      a.trigmenu span {
        width: 30px;
        right: 30px; }
        a.trigmenu span:nth-of-type(1) {
          top: -3px; }
        a.trigmenu span:nth-of-type(2) {
          top: 6px; }
        a.trigmenu span:nth-of-type(3) {
          top: 15px; } }
    @media screen and (min-width: 641px) and (max-width: 960px) {
      a.trigmenu span {
        width: 50px;
        right: 60px; }
        a.trigmenu span:nth-of-type(1) {
          top: 0px; }
        a.trigmenu span:nth-of-type(2) {
          top: 15px; }
        a.trigmenu span:nth-of-type(3) {
          top: 30px; } }
  @media screen and (max-width: 640px) {
    a.trigmenu.clicked:hover span:nth-of-type(1) {
      -webkit-transform: translateY(9px) rotate(-45deg);
              transform: translateY(9px) rotate(-45deg); }
    a.trigmenu.clicked:hover span:nth-of-type(2) {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    a.trigmenu.clicked:hover span:nth-of-type(3) {
      -webkit-transform: translateY(-9px) rotate(45deg);
              transform: translateY(-9px) rotate(45deg); } }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    a.trigmenu.clicked:hover span:nth-of-type(1) {
      -webkit-transform: translateY(15px) rotate(-45deg);
              transform: translateY(15px) rotate(-45deg); }
    a.trigmenu.clicked:hover span:nth-of-type(2) {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    a.trigmenu.clicked:hover span:nth-of-type(3) {
      -webkit-transform: translateY(-15px) rotate(45deg);
              transform: translateY(-15px) rotate(45deg); } }

@media screen and (max-width: 640px) {
  nav.menu {
    display: none; } }

@media screen and (min-width: 641px) and (max-width: 960px) {
  nav.menu {
    display: none; } }

@media screen and (min-width: 961px) {
  nav.menu {
    float: left;
    padding: 41px 0 39px 54px; }
    nav.menu li {
      display: inline-block;
      margin-right: 31px; }
      nav.menu li a {
        color: #fff; } }

section.top {
  background-color: #0a9bb2;
  color: #fff; }
  section.top h2.subtitle {
    color: #b1dae3; }
  @media screen and (max-width: 640px) {
    section.top {
      height: 174px; }
      section.top h1.title {
        padding: 57px 0 0 24px;
        font-size: 20px;
        line-height: 1.1; }
      section.top h2.subtitle {
        font-size: 13px;
        padding: 12px 0 53px 24px; } }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    section.top {
      height: 347px; }
      section.top h1.title {
        padding: 112px 0 0 50px;
        font-size: 35px;
        line-height: 1.3; }
      section.top h2.subtitle {
        font-size: 23px;
        padding: 20px 0 105px 50px; } }
  @media screen and (min-width: 961px) {
    section.top {
      height: 547px; }
      section.top h1.title {
        padding: 190px 0 0 80px;
        font-size: 47px;
        line-height: 1.3; }
      section.top h2.subtitle {
        font-size: 32px;
        padding: 30px 0 162px 80px; } }

section.block_m1 {
  background-color: #27212c;
  width: 75%;
  float: left; }
  section.block_m1 p.middleDesc {
    color: #9c8baa;
    font-weight: bold; }
  @media screen and (max-width: 640px) {
    section.block_m1 {
      height: 78px; }
      section.block_m1 p.middleDesc {
        font-size: 10px;
        padding: 30px 0 30px 18px; } }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    section.block_m1 {
      height: 147px; }
      section.block_m1 p.middleDesc {
        font-size: 18px;
        padding: 62px 0 62px 55px; } }
  @media screen and (min-width: 961px) {
    section.block_m1 {
      height: 238px; }
      section.block_m1 p.middleDesc {
        font-size: 27px;
        padding: 102px 0 102px 80px; } }

section.block_m2 {
  width: 25%;
  float: left;
  position: relative;
  background-color: #bc3183; }
  section.block_m2:hover > section.inner_m2 img {
    transition: 1s transform;
    -webkit-transform: translateX(30px);
            transform: translateX(30px); }
  section.block_m2 section.inner_m2 img {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  @media screen and (max-width: 640px) {
    section.block_m2 {
      height: 78px; }
      section.block_m2 section.inner_m2 img {
        height: 13px; } }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    section.block_m2 {
      height: 147px; }
      section.block_m2 section.inner_m2 img {
        height: 23px; } }
  @media screen and (min-width: 961px) {
    section.block_m2 {
      height: 238px; }
      section.block_m2 section.inner_m2 img {
        height: 30px; } }

section.bottom {
  clear: both; }

section.block_b1 {
  position: relative;
  background-color: #5b0fa1; }
  section.block_b1:hover > section.inner_b1 img {
    transition: 1s transform;
    -webkit-transform: translateX(30px);
            transform: translateX(30px); }
  section.block_b1 section.inner_b1 img {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  @media screen and (max-width: 640px) {
    section.block_b1 {
      width: 100%;
      height: 273px; }
      section.block_b1 section.inner_b1 img {
        height: 27px; } }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    section.block_b1 {
      width: 100%;
      height: 541px; }
      section.block_b1 section.inner_b1 img {
        height: 56px; } }
  @media screen and (min-width: 961px) {
    section.block_b1 {
      float: left;
      width: 34%;
      height: 330px;
      z-index: 1; }
      section.block_b1 section.inner_b1 img {
        height: 27px; } }

@media screen and (max-width: 640px) {
  section.block_b2 img, section.block_b3 img {
    display: block;
    width: 100%; } }

@media screen and (min-width: 641px) and (max-width: 960px) {
  section.block_b2 img, section.block_b3 img {
    display: block;
    width: 100%; } }

@media screen and (min-width: 961px) {
  section.block_b2 img, section.block_b3 img {
    float: left;
    display: block;
    width: 33%;
    height: 330px; } }

footer {
  background-color: #e0e0e0; }
  @media screen and (min-width: 961px) {
    footer {
      clear: both;
      display: inline-block; } }

section.description {
  width: 80%;
  margin: auto; }
  section.description h1.footertitle {
    color: #088ca5; }
  @media screen and (max-width: 640px) {
    section.description {
      padding-top: 32px;
      font-size: 13px; }
      section.description h1.footertitle {
        font-size: 19px;
        margin-bottom: 25px; }
      section.description div.para2 {
        display: none; }
      section.description p.desc_p1 {
        padding-bottom: 32px; }
      section.description p.desc_p2 {
        padding-bottom: 50px; } }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    section.description {
      padding-top: 65px;
      font-size: 16px; }
      section.description h1.footertitle {
        font-size: 22px;
        margin-bottom: 40px; }
      section.description div.para2 {
        display: none; }
      section.description p.desc_p1 {
        padding-bottom: 52px; }
      section.description p.desc_p2 {
        padding-bottom: 75px; } }
  @media screen and (min-width: 961px) {
    section.description {
      width: 88%;
      padding: 65px;
      font-size: 17px; }
      section.description h1.footertitle {
        font-size: 23px;
        margin-bottom: 30px; }
      section.description div.para1 {
        width: 45%;
        margin: auto;
        float: left;
        padding-bottom: 120px; }
      section.description div.para2 {
        width: 45%;
        margin: auto;
        float: left;
        margin-left: 64px; }
      section.description p.desc_p1 {
        width: 90%;
        padding-bottom: 23px; }
      section.description p.desc_p1 {
        width: 90%; } }

div#cssani div.animationtest1 {
  width: 594px;
  height: 400px;
  background-image: url("../images/cssani_1.jpg");
  -webkit-animation: marqueeanime 2s linear 0s infinite normal;
          animation: marqueeanime 2s linear 0s infinite normal; }

@-webkit-keyframes marqueeanime {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 100%; } }

@keyframes marqueeanime {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 100%; } }

div#cssani div.animationtest2 {
  font-size: 60px;
  position: relative;
  overflow: hidden; }
  div#cssani div.animationtest2:before {
    -webkit-animation: shine 2s ease 2s infinite;
            animation: shine 2s ease 2s infinite;
    content: "";
    position: absolute;
    top: 0;
    left: -450px;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -120%, 0);
            transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -120%, 0); }

@-webkit-keyframes shine {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -120%, 0);
            transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -120%, 0);
    background: rgba(255, 255, 255, 0.6); }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, -25deg) translate3d(0, 200%, 0);
            transform: rotate3d(0, 0, 1, -25deg) translate3d(0, 200%, 0);
    background: rgba(255, 255, 255, 0.6); }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, -25deg) translate3d(0, 200%, 0);
            transform: rotate3d(0, 0, 1, -25deg) translate3d(0, 200%, 0);
    background: rgba(255, 255, 255, 0.6); } }

div#cssani div.animationtest3 img:hover {
  transition: 2s transform;
  -webkit-transform: rotate3d(10, 20, 0, 180deg);
          transform: rotate3d(10, 20, 0, 180deg); }

div#cssani div.animationtest4 {
  -webkit-perspective: 1000px;
          perspective: 1000px; }
  div#cssani div.animationtest4 img.front {
    z-index: 2;
    position: absolute; }
  div#cssani div.animationtest4 img.back {
    z-index: 1;
    position: absolute; }
  div#cssani div.animationtest4:hover {
    transition: 2s transform;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 800px;
            perspective: 800px;
    -webkit-transform: translate3d(0, 0, 200px) scale(0.9, 0.9);
            transform: translate3d(0, 0, 200px) scale(0.9, 0.9); }
    div#cssani div.animationtest4:hover img.front {
      z-index: 1;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      transition: 2s; }
    div#cssani div.animationtest4:hover img.back {
      z-index: 2;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      transition: 2s; }
