extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock

  div#cssani
    h1 CSSアニメーション練習ページ

    h2 1.
    div.animationtest1

    h2 2.
    div.animationtest2
      p www.kayac.com

    h2 3.
    div.animationtest3
      img.front(src="images/front.png")

    h2 4.
    div.animationtest4
      img.front(src="images/front.png")
      img.back(src="images/back.png")
