extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock

  header
    div.menu-wrap
      div.toggle
        div.navigation
          span.navi Navigation
          a.trigmenu(href="#")
            span
            span
            span
      nav.menu
        ul
          li: a(href="#") PSD Websites
          li: a(href="#") UI KITS
          li: a(href="#") PREMIUM PSD FILES
          li: a(href="#") ABOUT
          li: a(href="#") BLOG
          li: a(href="cssani.html") CSS Animation(リンクあり)

  main
    section.top
        h1.title
          |Awesome Free PSD
          br
          |templates & Resources
        h2.subtitle www.BlazRobar.com

    section.middle
      section.block_m1
        p.middleDesc I'm like the Robin Hood of PSD files.
      section.block_m2
        section.inner_m2
          img(src="images/right-arrow.png")

    section.bottom
      section.block_b1
        section.inner_b1
          img(src="images/right-arrow.png")
      section.block_b2
        img(src="images/bridge.png")
      section.block_b3
        img(src="images/lady.png")

  footer
    section.description
      h1.footertitle BlazRobar.com
      div.para1
        p.desc_p1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula ipsum non leo tristique eget facilisis lacus commodo. Curabitur vitae justo lorem, non ornare nibh. Pellentesque pretium, tellus ac ultrices faucibus, nibh mauris dapibus lorem, vitae viverra nisl elit sit amet libero. Nam eu blandit risus.
        p.desc_p2 Phasellus imperdiet mattis nulla. Integer gravida imperdiet congue. Proin vitae pretium augue. Donec est sem, mattis et blandit ac, blandit at arcu. Donec tempus tincidunt suscipit. Suspendisse eu vulputate lacus.
      div.para2
        p.desc_p1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula ipsum non leo tristique eget facilisis lacus commodo. Curabitur vitae justo lorem, non ornare nibh. Pellentesque pretium, tellus ac ultrices faucibus, nibh mauris dapibus lorem, vitae viverra nisl elit sit amet libero. Nam eu blandit risus.
        p.desc_p2 Phasellus imperdiet mattis nulla. Integer gravida imperdiet congue. Proin vitae pretium augue. Donec est sem, mattis et blandit ac, blandit at arcu. Donec tempus tincidunt suscipit. Suspendisse eu vulputate lacus.
