// reset css
@import 'bower_components/reset-css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/wrapper';

// pages
@import 'page/index';

//responsive
@mixin mq-sm {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin mq-tb {
    @media screen and (min-width: 641px) and (max-width: 960px){
        @content;
    }
}

@mixin mq-pc {
    @media screen and (min-width: 961px) {
        @content;
    }
}

//variable


body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  background-color: #373c3f;
}

div.menu-wrap {
  margin: 0 auto;
  padding: 0;
  @include mq-sm {
    height: 36px;
  }
  @include mq-tb {
    height: 70px;
  }
  @include mq-pc {
    height: 95px;
  }
}

div.toggle {
  font-weight: bold;
  width: 100%;
  position: relative;
  @include mq-sm {
    font-size: 14px;
  }
  @include mq-tb {
    font-size: 20px;
  }
  @include mq-pc {
    display: none;
  }
}

div.navigation {
  float: left;

  @include mq-sm {
    padding: 10px 0 0 18px;
  }
  @include mq-tb {
    padding: 18px 0 0 30px;
  }
  width: 100%;
  span.navi {
    color: #fff;
  }
}

a.trigmenu {
  float: right;
  padding-right: 100px;
  position: relative;
  width: 50px;
  height: 100%;

  &, span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  span {
    position: absolute;
  	background-color: #fff;
  	border-radius: 4px;
    height: 4px;

    @include mq-sm {
      width: 30px;
      right: 30px;
      &:nth-of-type(1) {
        top: -3px;
      }
      &:nth-of-type(2) {
        top: 6px;
      }
      &:nth-of-type(3) {
        top: 15px;
      }
    }
    @include mq-tb {
      width: 50px;
      right: 60px;
      &:nth-of-type(1) {
        top: 0px;
      }
      &:nth-of-type(2) {
        top: 15px;
      }
      &:nth-of-type(3) {
        top: 30px;
      }
    }
  }

  &.clicked {
    @include mq-sm {
      &:hover span:nth-of-type(1) {
        transform: translateY(9px) rotate(-45deg);
      }
      &:hover span:nth-of-type(2) {
	      opacity: 0;
      }
      &:hover span:nth-of-type(3) {
	      transform: translateY(-9px) rotate(45deg);
      }
    }
    @include mq-tb {
      &:hover span:nth-of-type(1) {
        transform: translateY(15px) rotate(-45deg);
      }
      &:hover span:nth-of-type(2) {
	      opacity: 0;
      }
      &:hover span:nth-of-type(3) {
	      transform: translateY(-15px) rotate(45deg);
      }
    }
  }
}


nav.menu {
  @include mq-sm {
    display: none;
  }
  @include mq-tb {
    display: none;
  }
  @include mq-pc {
    float: left;
    padding: 41px 0 39px 54px;
    li {
      display: inline-block;
      margin-right: 31px;
      a {
        color: #fff;
      }
    }
  }
}


section.top {
  background-color: #0a9bb2;
  color: #fff;
  h2.subtitle {
    color: #b1dae3;
  }

  @include mq-sm {
    height: 174px;
    h1.title {
      padding: 57px 0 0 24px;
      font-size: 20px;
      line-height: 1.1;
    }
    h2.subtitle {
      font-size: 13px;
      padding: 12px 0 53px 24px;
    }
  }
  @include mq-tb {
    height: 347px;
    h1.title {
      padding: 112px 0 0 50px;
      font-size: 35px;
      line-height: 1.3;
    }
    h2.subtitle {
      font-size: 23px;
      padding: 20px 0 105px 50px;
    }
  }
  @include mq-pc {
    height: 547px;
    h1.title {
      padding: 190px 0 0 80px;
      font-size: 47px;
      line-height: 1.3;
    }
    h2.subtitle {
      font-size: 32px;
      padding: 30px 0 162px 80px;
    }
  }

}


section.block_m1 {
  background-color: #27212c;
  width: 75%;
  float: left;
  p.middleDesc {
    color: #9c8baa;
    font-weight: bold;
  }

  @include mq-sm {
    height: 78px;
    p.middleDesc {
      font-size: 10px;
      padding: 30px 0 30px 18px;
    }
  }
  @include mq-tb {
    height: 147px;
    p.middleDesc {
      font-size: 18px;
      padding: 62px 0 62px 55px;
    }
  }
  @include mq-pc {
    height: 238px;
    p.middleDesc {
      font-size: 27px;
      padding: 102px 0 102px 80px;
    }
  }
}

section.block_m2 {
  width: 25%;
  float: left;
  position: relative;
  background-color: #bc3183;

  &:hover > section.inner_m2 img {
      transition: 1s transform;
      transform: translateX(30px);
  }

  section.inner_m2 img {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  @include mq-sm {
    height: 78px;
    section.inner_m2 img {
      height: 13px;
    }
  }
  @include mq-tb {
    height: 147px;
    section.inner_m2 img {
      height: 23px;
    }
  }
  @include mq-pc {
    height: 238px;
    section.inner_m2 img {
      height: 30px;
    }
  }
}


section.bottom {
  clear: both;
}

section.block_b1 {
  position: relative;
  background-color: #5b0fa1;

  &:hover > section.inner_b1 img {
      transition: 1s transform;
      transform: translateX(30px);
  }

  section.inner_b1 img {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  @include mq-sm {
    width: 100%;
    height: 273px;
    section.inner_b1 img {
      height: 27px;
    }
  }
  @include mq-tb {
    width: 100%;
    height: 541px;
    section.inner_b1 img {
      height: 56px;
    }
  }
  @include mq-pc {
    float: left;
    width: 34%;
    height: 330px;
    z-index: 1;
    section.inner_b1 img {
      height: 27px;
    }
  }

}

section.block_b2, section.block_b3 {
  img {
    @include mq-sm {
        display: block;
        width: 100%;
    }
    @include mq-tb {
        display: block;
        width: 100%;
    }
    @include mq-pc {
        float: left;
        display: block;
        width: 33%;
        height: 330px;
    }
  }
}

footer {
  background-color: #e0e0e0;
  @include mq-pc {
    clear: both;
    display: inline-block;
  }
}

section.description {
  width: 80%;
  margin: auto;
  h1.footertitle {
    color: #088ca5;
  }

  @include mq-sm {
    padding-top: 32px;
    font-size: 13px;
    h1.footertitle {
      font-size: 19px;
      margin-bottom: 25px;
    }
    div.para2 {
      display: none;
    }
    p.desc_p1 {
      padding-bottom: 32px;
    }
    p.desc_p2 {
      padding-bottom: 50px;
    }
  }

  @include mq-tb {
    padding-top: 65px;
    font-size: 16px;
    h1.footertitle {
      font-size: 22px;
      margin-bottom: 40px;
    }
    div.para2 {
      display: none;
    }
    p.desc_p1 {
      padding-bottom: 52px;
    }
    p.desc_p2 {
      padding-bottom: 75px;
    }
  }

  @include mq-pc {
    width: 88%;
    padding: 65px;
    font-size: 17px;
    h1.footertitle {
      font-size: 23px;
      margin-bottom: 30px;
    }
    div.para1 {
      width: 45%;
      margin: auto;
      float: left;
      padding-bottom: 120px;
    }
    div.para2 {
      width: 45%;
      margin: auto;
      float: left;
      margin-left: 64px;
    }
    p.desc_p1 {
      width: 90%;
      padding-bottom: 23px;
    }
    p.desc_p1 {
      width: 90%;
    }
  }
}

// 以下はCSSアニメーション練習用(cssani.html)

div#cssani {
  div.animationtest1 {
    width: 594px;
    height: 400px;
    background-image: url("../images/cssani_1.jpg");
    animation: marqueeanime 2s linear 0s infinite normal;
    @keyframes marqueeanime {
      0% {background-position: 0 0;}
      100% {background-position: 100% 100%;}
    }
  }

  div.animationtest2 {
    font-size: 60px;
    position: relative;
    overflow: hidden;

    &:before {
      animation: shine 2s ease 2s infinite;
      content:"";
      position: absolute;
      top: 0;
      left: -450px;
      width: 100%;
      height: 100%;
      transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0);
    }
    @-webkit-keyframes shine {
      0% {transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0);background: rgba(255,255,255,0.6);}
      50% {transform: rotate3d(0,0,1,-25deg) translate3d(0,200%,0);background: rgba(255,255,255,0.6);}
      100% {transform: rotate3d(0,0,1,-25deg) translate3d(0,200%,0);background: rgba(255,255,255,0.6);}
    }
  }

  div.animationtest3 {
    img:hover {
      transition: 2s transform;
      transform: rotate3d(10,20,0,180deg);
    }
  }

  div.animationtest4 {
    perspective: 1000px;

    img.front {
      z-index: 2;
      position: absolute;
    }
    img.back {
      z-index: 1;
      position: absolute;
    }

    &:hover {
      transition: 2s transform;
      transform-style: preserve-3d;
      perspective: 800px;
      transform: translate3d(0,0,200px) scale(0.9,0.9);

      img.front {
        z-index: 1;
        opacity: 0;
        transition: 2s;
      }
      img.back {
        z-index: 2;
        opacity: 1;
        transition: 2s;
      }

    }


  }



}
